[submodule "public"]
	path = public
	url = https://github.com/PARK-SUNGJUN-618/park-sungjun-618.github.io.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
